

.combinationGroup {
  display: flex;
  width: 100%;
}

.combinationGroupWithChild {
  display: flex;
  border-radius: var(--radius);
  width: 100%;
  box-shadow: var(--uit-shadow-md);
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: var(--uit-space-8);
  padding: var(--uit-space-8);
}
