

.combinationGroup {
  display: flex;
  width: 100%;
}

.combinationGroupWithChild {
  display: flex;
  border-radius: var(--uidt-rounded-md);
  width: 100%;
  box-shadow: var(--uidt-shadow-md);
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: var(--uidt-space-8);
  padding: var(--uidt-space-8);
}
