.picker {
    display: flex;
    flex-direction: column;
    gap: var(--uit-space-4);
}

.sliderContainer {
    display: flex;
    align-items: center;
    gap: var(--uit-space-4);
}

.sliderLabel {
    width: 40px;
}

.settingsContainer {
    display: flex;
    justify-content: space-between;
    padding: var(--uit-space-4) var(--uit-space-0);
}

.colorSpaceMode {
    width: fit-content;
}
