.homeActionButton {
    height: var(--uit-space-14);
    width: var(--uit-space-14);
    background-color: var(--uit-component-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--uit-space-2);
    box-shadow: var(--uit-shadow-md);
    border-radius: var(--uit-rounded-md);
    cursor: pointer;
    overflow: hidden;
    border: none;
    font-size: inherit;
    color: inherit;
    font: inherit;
    box-sizing: border-box;
}

.homeActionButton:hover{
    background-color: var(--uit-primary-outline-hover-bg);
    color: var(--uit-primary-outline-hover-text);
}

.iconContainer {
    background-color: var(--uit-base-background);
    width: var(--uit-space-11);
    height: 100%;
    box-shadow: var(--uit-shadow-inset);
    border-radius: var(--uit-rounded-md);
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}