.homeActionButton {
    height: var(--uidt-space-14);
    width: var(--uidt-space-14);
    background-color: var(--uidt-component-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--uidt-space-2);
    box-shadow: var(--uidt-shadow-md);
    border-radius: var(--uidt-rounded-md);
    cursor: pointer;
    overflow: hidden;
    border: none;
    font-size: inherit;
    color: inherit;
    font: inherit;
    box-sizing: border-box;
}

.homeActionButton:hover{
    background-color: var(--uidt-primary-outline-hover-bg);
    color: var(--uidt-primary-outline-hover-text);
}

.iconContainer {
    background-color: var(--uidt-base-background);
    width: var(--uidt-space-11);
    height: 100%;
    box-shadow: var(--uidt-shadow-inset);
    border-radius: var(--uidt-rounded-md);
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}