.recentFileTab{
    background-color: var(--uidt-component-bg);
    padding: var(--uidt-space-5);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.recentFileTab:hover{
    background-color: var(--uidt-component-hover-bg);
    color: var(--uidt-component-hover-text);

}
