.recentFileArray {
  background-color: var(--uit-palette-single-white);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: var(--radius-md);
  box-shadow: var(--uit-shadow-md);
  overflow: hidden;
}
