.recentFileTab{
    background-color: var(--component-bg);
    padding: var(--space-5);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.recentFileTab:hover{
    background-color: var(--component-hover-bg);
    color: var(--component-hover-text);

}
