.header{
  display: flex;
  height: var(--space-7);
  user-select: none;
  padding: var(--space-0);
  margin: var(--space-0);
  align-items: center;
  -webkit-app-region: drag;
}

.buttons{
  display: flex;
  justify-content: end;
  gap: var(--space-6);
  align-items: center;
}

.windowButtons {
  display: flex;
  -webkit-app-region: no-drag;
}

.undoRedoButtons {
  display: flex;
  gap: var(--space-3)
}

.undoRedoButton {
  -webkit-app-region: no-drag;
}