.header{
  display: flex;
  height: var(--space-7);
  user-select: none;
  padding: var(--space-0);
  margin: var(--space-0);
  align-items: center;
  -webkit-app-region: drag;
}

.buttons {
  display: flex;
  -webkit-app-region: no-drag;
  justify-content: end;
}

