.borderPreview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--uit-space-4);
  padding: var(--uit-space-4);
  height: 100%;
  box-sizing: border-box;
}

.borderItem {
  border-radius: var(--uit-rounded-md);
  box-sizing: border-box;
}
