
.imageButton {
    position: absolute;
    border: none;
    padding: var(--space-3);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    background-color: transparent;
    color: var(--text-color-light);
    border: 2px solid transparent;
  }

  .imageButtonActive {
    border: 2px solid var(--add-border);
  }
  