.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-theme-modal-bg);
  z-index: 1000;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-theme-component-bg);
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  padding: 16px;
  transition: all 0.5s;
  max-height: 100%;
  overflow: hidden;
}

.modalBodyMd {
  height: var(--space-18);
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  gap: var(--space-8);
  overflow: hidden;
}

.modalFooter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--space-4);
}
