.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--uidt-modal-bg);
  z-index: 30;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--uidt-component-bg);
  border-radius: 8px;
  box-shadow: var(--uidt-shadow-md);
  transition: all 0.5s;
  max-height: 100%;
  overflow: hidden;
}

.modalBodyMd {
  width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: var(--uidt-space-5);
  gap: var(--uidt-space-8);
  box-sizing: border-box;
  overflow: hidden;
}

.modalBodyCustom {
  width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modalFooter {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: var(--uidt-space-4);
  padding: var(--uidt-space-5);
}

.modalCustomHeader {
  display: flex;
  padding: var(--uidt-space-3);
  gap: var(--uidt-space-2);
  border-bottom: var(--uidt-base-border) 1px solid;
  align-items: center;
}
