.tab {
  padding: var(--space-3) var(--space-5);
  color: var(--component-text);
  display: flex;
  align-items: center;
  gap: var(--space-3);
  cursor: pointer;
}

.tab:hover {
  background-color: var(--component-hover-bg);
  color: var(--component-hover-text);
}


.tabAlert {
  background-color: var(--alert-bg);
  color: var(--alert-text);
}


.tabAlert:hover {
  background-color: var(--alert-hover-bg);
  color: var(--alert-hover-text);
}