.step {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
  border: 2px solid var(--base-border);
  background: var(--component-bg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

.stepDone {
  background-color: var(--primary-bg);
  border: 2px solid transparent;
}

.stepActive {
  outline: 2px solid var(--primary-border);
  border: 2px solid transparent;
}

.stepDisabled {
  background-color: var(--base-background-disabled);
  color: var(--base-text-disabled);
}

.line {
  width: 1px;
  min-height: 20px;
  height: 100%;
  background-color: var(--base-border);
}

.stepBody {
  padding: var(--space-3);
  gap: var(--space-3);
}

.stepList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-3);
}
