.componentDesignSystemColumn {
  scroll-margin-top: 36px !important;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  box-sizing: border-box;
  padding: 18px var(--space-1) 18px var(--space-0);
  border-bottom: transparent 2px solid;
  border-top: transparent 2px solid;
  user-select: none;
}

.componentDesignSystem {
  scroll-margin-top: 36px !important;
  display: flex;
  padding: var(--space-6) var(--space-1) var(--space-6) var(--space-0);
  box-sizing: border-box;
}

.mediumHeight {
  min-height: 400px;
  height: 400px;
  max-height: 400px;
}

.componentHead {
  display: flex;
  padding: var(--space-0) var(--space-7);
  color: var(--base-text-light);
  justify-content: space-between;
  align-items: center;
}

.sideSettings {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  box-sizing: border-box;
}

.scrollableSettings {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  overflow: auto;
}

.rowHidden {
  display: flex;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.sideSettingsTitle {
  color: var(--base-text-light);
  padding-left: var(--space-7);
  padding-right: var(--space-7);
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.previewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: var(--rounded-md);
  box-sizing: border-box;
  border: var(--base-border) 1px solid;
}

.previewElement {
  flex: 1;
  height: 100%;
  box-shadow: var(--shadow-inset);
  padding: var(--space-7);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  overflow: auto;
}

.previewElementWrap {
  flex: 1;
  height: 100%;
  box-shadow: var(--shadow-inset);
  padding: var(--space-7);
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.previewRectWrap {
  width: calc(50% - 16px);
  height: calc(50% - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewRect {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3);
}

.shadesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-content: space-between;
  padding: var(--space-0) var(--space-7);
  min-height: 110px;
}

.empty {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: var(--space-3);
}

.darkPreviewPlaceholder {
  width: var(--space-9);
}

.primaryTheme {
  background-color: var(--theme-primary-bg);
  color: var(--theme-primary-text);
}
