.componentDesignSystemColumn {
  scroll-margin-top: 36px !important;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: var(--uidt-space-6);
  box-sizing: border-box;
  padding: 18px var(--uidt-space-1) 18px var(--uidt-space-0);
  border-bottom: transparent 2px solid;
  border-top: transparent 2px solid;
  user-select: none;
}

.componentDesignSystemColumnPadding {
  scroll-margin-top: 36px !important;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: var(--uidt-space-6);
  box-sizing: border-box;
  padding: 18px var(--uidt-space-7) 18px var(--uidt-space-7);
  border-bottom: transparent 2px solid;
  border-top: transparent 2px solid;
  user-select: none;
}

.componentDesignSystem {
  scroll-margin-top: 36px !important;
  display: flex;
  padding: var(--uidt-space-6) var(--uidt-space-1) var(--uidt-space-6)
    var(--uidt-space-0);
  box-sizing: border-box;
  height: fit-content;
  position: relative;
}


.componentHead {
  display: flex;
  padding: var(--uidt-space-0) var(--uidt-space-7);
  color: var(--uidt-base-text-light);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.sideSettings {
  position: sticky;
  top: 49px;
  left:0px;
  display: flex;
  flex-direction: column;
  gap: var(--uidt-space-5);
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  height: fit-content;
  box-sizing: border-box;
}


.themeScrollableSizing {
  max-height: 270px;
}

.rowHidden {
  display: flex;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
}

.sideSettingsTitle {
  color: var(--uidt-base-text-light);
  padding-left: var(--uidt-space-7);
  padding-right: var(--uidt-space-7);
  display: flex;
  align-items: center;
  gap: var(--uidt-space-3);
  justify-content: space-between;
}

.sideSettingsContainer {
  padding-left: var(--uidt-space-7);
  padding-right: var(--uidt-space-7);
}

.previewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  border-radius: var(--uidt-rounded-md);
  box-sizing: border-box;
  border: var(--base-border) 1px solid;
  background-color: var(--base-background);
  position: relative;
}

.previewBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--base-background);
  color: var(--base-text-default);
}

.previewContainerComponent {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: var(--uidt-rounded-md);
  box-sizing: border-box;
  border: var(--uidt-base-border) 1px solid;
  background-color: var(--uidt-base-background);
  padding: var(--uidt-space-7);
  flex-direction: column;
}

.previewElement {
  flex: 1;
  height: fit-content;
  box-shadow: var(--uidt-shadow-inset);
  padding: var(--uidt-space-7);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--uidt-space-8);
}

.previewElementWrap {
  flex: 1;
  height: 100%;
  box-shadow: var(--uidt-shadow-inset);
  padding: var(--uidt-space-7);
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}

.previewRectWrap {
  width: calc(50% - 16px);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewRect {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--uidt-space-3);
}

.shadesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  align-content: space-between;
  padding: var(--uidt-space-0) var(--uidt-space-7);
  min-height: 110px;
}

.empty {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: var(--uidt-space-3);
}

.darkPreviewPlaceholder {
  width: var(--uidt-space-9);
}
