.huePickerContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.hueArrayContainer {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  box-sizing: border-box;
  gap:var(--space-2);
}

.hueInstance {
  height: var(--space-6);
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.hueInstance[data-active="true"] {
  border: 1px solid var(--primary-border);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  padding: var(--space-3);
  gap: var(--space-3);
}

.hexPreviewContainer {
  display: grid;
  grid-template-columns: 30% 1fr;
  border-top: 1px solid var(--base-border);
}

.colorCodeContainer {
  padding: var(--space-3);
}

.previewContainer {
  display: flex;
  flex-direction: column;
  padding: var(--space-3);
  border-left: 1px solid var(--base-border);
}

.colorContainer {
  width: var(--space-11);
  height: var(--space-11);
  min-height: var(--space-11);
  max-height: var(--space-11);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  border: var(--base-border) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
