.inputAdd {
  border: dashed 2px var(--add-border);
  box-sizing: border-box;
  color: var(--add-text);
  cursor: pointer;
  margin: var(--space-0) var(--space-7);
  padding: var(--space-3);
  border-radius: var(--rounded-md);
}

.inputAdd:hover {
  border: dashed 2px var(--add-hover-border);
  color: var(--add-hover-text);
}

.inputRemove {
  border: dashed 2px var(--remove-border);
  color: var(--remove-text);
  cursor: pointer;
  margin: var(--space-0) var(--space-7);
  padding: var(--space-3);
  border-radius: var(--rounded-md);
}

.inputRemove:hover {
  border: dashed 2px var(--remove-hover-border);
  color: var(--remove-hover-text);
}
