.inputDesignSystem {
  display: flex;
  padding: 6px var(--space-3) 6px var(--space-0);
  border-top: transparent 2px solid;
  border-bottom: transparent 2px solid;
}

.sideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-9);
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

.keyValueContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  height: 100%;
}

.titlePadding{
  margin-bottom: 2px;
}

.colorPreviewContainer {
  width: var(--space-5);
  min-width: var(--space-5);
  max-width: var(--space-5);
  height: var(--space-5);
  min-height: var(--space-5);
  max-height: var(--space-5);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  border: var(--base-border) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-base);
}

.colorPreviewContainerHover {
  transform: translateX(-4px) scale(1.2);
}
