.inputDesignSystem {
  display: flex;
  padding: var(--uidt-space-3) var(--uidt-space-0) var(--uidt-space-3) var(--uidt-space-0);
  border-top: transparent 2px solid;
  border-bottom: transparent 2px solid;
  height: fit-content;
}

.inputDesignSystem .sideContainer {
  opacity: 0;
}

.inputDesignSystem:hover .sideContainer {
  opacity: 1;
}

.inputDesignSystem .hoverVisible {
  opacity: 0;
}

.inputDesignSystem:hover .hoverVisible {
  opacity: 1;
}

.middleContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--uidt-space-1);
  box-sizing: border-box;
  overflow: hidden;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--uidt-space-7);
  min-width: var(--uidt-space-7);
  max-width: var(--uidt-space-7);
  box-sizing: border-box;
}

.sideContainerVisible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--uidt-space-7);
  min-width: var(--uidt-space-7);
  max-width: var(--uidt-space-7);
  box-sizing: border-box;
}

.keyValueContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  height: 100%;
}

.titlePadding{
  margin-bottom: 2px;
}

.colorPreviewContainer {
  width: var(--uidt-space-5);
  min-width: var(--uidt-space-5);
  max-width: var(--uidt-space-5);
  height: var(--uidt-space-5);
  min-height: var(--uidt-space-5);
  max-height: var(--uidt-space-5);
  border-radius: var(--uidt-rounded-md);
  box-shadow: var(--uidt-shadow-md);
  border: var(--uidt-base-border) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--uidt-transition-base);
}

.colorPreviewContainerHover {
  transform: scale(1.2);
}


.popoverContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: transparent 1px solid;
  gap: var(--uidt-space-2);
  cursor: pointer;
  height: 32px;
  width: 100%;
}

.popoverContainer:hover {
  border-bottom: var(--uidt-primary-outline-light-border) 1px solid;
}