.inputAdd {
  border: dashed 2px var(--theme-add-border);
  box-sizing: border-box;
  color: var(--theme-add-text);
  opacity: 0.7;
  cursor: pointer;
  margin: var(--space-0) var(--space-7);
  padding: var(--space-3);
  border-radius: var(--rounded-md);
}

.inputAdd:hover {
  opacity: 1;
}

.inputRemove {
  border: dashed 2px var(--theme-remove-border);
  color: var(--theme-remove-text);
  opacity: 0.5;
  cursor: pointer;
  margin: var(--space-0) var(--space-7);
  padding: var(--space-3);
  border-radius: var(--rounded-md);
}

.inputRemove:hover {
  opacity: 1;
}
