.dsSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-9);
}

.sectionTitle {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  padding: var(--space-3) var(--space-6);
  color: var(--base-text-dark);
}

.subSectionHeader {
  display: flex;
  padding: var(--space-3) var(--space-7);
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4);
  position: sticky;
  top: -1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    30%,
    #FFFFFF
  );
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #fff;
  z-index: 2;
  box-sizing: border-box;
}

.subSectionHeaderRight {
  display: flex;
  gap: var(--space-10);
}

.subSectionTitle {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.subSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-0);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.emptyContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}

.mediumHeight {
  min-height: 360px;
  height: 360px;
  max-height: 360px;
}
