.sidebarDesignSystem {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--uidt-space-4) var(--uidt-space-0);
  box-sizing: border-box;
  user-select: none; /* Empêche la sélection de texte */
}

.topContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: var(--uidt-space-3);
}


.topMenu {
  display: flex;
  padding: var(--uidt-space-4);
  gap: var(--uidt-space-3);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--uidt-base-border);
  padding: var(--uidt-space-4);
  gap: var(--uidt-space-3);
}
