.previewNode {
    width: 100%;
    height: 120px;
    max-height: 120px;
    overflow: hidden;
    background-color: var(--component-bg);
    box-shadow: var(--shadow-inset);
    border-radius: var(--rounded-md);
    padding: var(--space-4);
    box-sizing: border-box;
    border: 1px solid var(--base-border);
}