.spacePreviewItem {
  display: flex;
  align-items: center;
  background-color: var(--uidt-primary-bg);
  color: var(--uidt-primary-text);
  overflow: show;
  justify-content: center;
}

.textPreview {
  background-color: var(--uidt-primary-bg);
  border-radius: var(--uidt-space-2);
}
