:root {
  --palette-primary-50: #eff6ff;
  --palette-primary-100: #dbeafe;
  --palette-primary-200: #bfdbfe;
  --palette-primary-300: #93c5fd;
  --palette-primary-400: #60a5fa;
  --palette-primary-500: #3b82f6;
  --palette-primary-600: #2563eb;
  --palette-primary-700: #1d4ed8;
  --palette-primary-800: #1e40af;
  --palette-primary-900: #1e3a8a;
  --palette-primary-950: #172554;

  --palette-secondary-50: #fff7ed;
  --palette-secondary-100: #ffedd5;
  --palette-secondary-200: #fed7aa;
  --palette-secondary-300: #fdba74;
  --palette-secondary-400: #fb923c;
  --palette-secondary-500: #f97316;
  --palette-secondary-600: #ea580c;
  --palette-secondary-700: #c2410c;
  --palette-secondary-800: #9a3412;
  --palette-secondary-900: #7c2d12;
  --palette-secondary-950: #431407;

  --palette-positive-50: #f0fdf4;
  --palette-positive-100: #dcfce7;
  --palette-positive-200: #bbf7d0;
  --palette-positive-300: #86efac;
  --palette-positive-400: #4ade80;
  --palette-positive-500: #22c55e;
  --palette-positive-600: #16a34a;
  --palette-positive-700: #15803d;
  --palette-positive-800: #166534;
  --palette-positive-900: #14532d;
  --palette-positive-950: #052e16;

  --palette-warning-50: #fffbeb;
  --palette-warning-100: #fef3c7;
  --palette-warning-200: #fde68a;
  --palette-warning-300: #fcd34d;
  --palette-warning-400: #fbbf24;
  --palette-warning-500: #f59e0b;
  --palette-warning-600: #d97706;
  --palette-warning-700: #b45309;
  --palette-warning-800: #92400e;
  --palette-warning-900: #78350f;
  --palette-warning-950: #451a03;

  --palette-negative-50: #fff1f2;
  --palette-negative-100: #ffe4e6;
  --palette-negative-200: #fecdd3;
  --palette-negative-300: #fda4af;
  --palette-negative-400: #fb7185;
  --palette-negative-500: #f43f5e;
  --palette-negative-600: #e11d48;
  --palette-negative-700: #be123c;
  --palette-negative-800: #9f1239;
  --palette-negative-900: #881337;
  --palette-negative-950: #4c0519;



  --palette-gray-50: #fafafa;
  --palette-gray-100: #f4f4f5;
  --palette-gray-200: #e4e4e7;
  --palette-gray-300: #d4d4d8;
  --palette-gray-400: #a1a1aa;
  --palette-gray-500: #71717a;
  --palette-gray-600: #52525b;
  --palette-gray-700: #3f3f46;
  --palette-gray-800: #27272a;
  --palette-gray-900: #18181b;
  --palette-gray-950: #09090b;

  --palette-info-50: #f0fdfa;
  --palette-info-100: #ccfbf1;
  --palette-info-200: #99f6e4;
  --palette-info-300: #5eead4;
  --palette-info-400: #2dd4bf;
  --palette-info-500: #14b8a6;
  --palette-info-600: #0d9488;
  --palette-info-700: #0f766e;
  --palette-info-800: #115e59;
  --palette-info-900: #134e4a;
  --palette-info-950: #042f2e;

  --palette-single-white: #ffffff;
  --palette-single-black-transparent: rgb(24, 24, 27, 70%);

  --base-bg: var(--palette-primary-50);
  --base-bg-hover: var(--palette-primary-100);
  --base-border: var(--palette-gray-300);
  --base-text-light: var(--palette-gray-500);
  --base-text: var(--palette-gray-700);
  --base-text-dark: var(--palette-gray-900);
  --base-bg-disabled: var(--palette-gray-200);
  --base-text-disabled: var(--palette-gray-400);

  --window-buttons-hover-bg: var(--palette-primary-200);

  --alert-bg: var(--palette-negative-700);
  --alert-text: var(--palette-negative-50);
  --alert-hover-bg: var(--palette-negative-900);
  --alert-hover-text: var(--palette-negative-50);

  --anchor-bg: var(--palette-negative-600);

  --alert-outline-bg: var(--palette-negative-50);
  --alert-outline-text: var(--palette-negative-800);
  --alert-outline-border: var(--palette-negative-700);

  --warning-outline-bg: var(--palette-warning-50);
  --warning-outline-text: var(--palette-warning-700);
  --warning-outline-border: var(--palette-warning-700);

  --component-bg: var(--palette-single-white);
  --component-text: var(--palette-gray-700);
  --component-border: var(--palette-gray-300);
  --component-hover-bg: var(--palette-gray-100);
  --component-hover-text: var(--palette-gray-900);

  --sunny-text: var(--palette-secondary-700);
  --moon-text: var(--palette-primary-900);
  --contrast-off-text: var(--palette-gray-400);
  --contrast-on-text: var(--palette-primary-700);

  --tooltip-bg: rgb(23, 23, 23, 80%);
  --tooltip-text: var(--palette-single-white);

  --primary-bg: var(--palette-primary-800);
  --primary-text: var(--palette-single-white);
  --primary-border: var(--palette-primary-800);
  --primary-hover-bg: var(--palette-primary-900);
  --primary-hover-text: var(--palette-primary-50);
  --primary-hover-border: var(--palette-primary-950);

  --primary-outline-bg: var(--palette-primary-50);
  --primary-outline-text: var(--palette-primary-800);
  --primary-outline-border: var(--palette-primary-600);
  --primary-outline-hover-bg: var(--palette-primary-100);
  --primary-outline-hover-text: var(--palette-primary-950);

  --add-bg: var(--palette-primary-100);
  --add-text: var(--palette-primary-700);
  --add-border: var(--palette-primary-300);
  --add-hover-bg: var(--palette-primary-200);
  --add-hover-text: var(--palette-primary-800);
  --add-hover-border: var(--palette-primary-600);

  --remove-bg: var(--palette-negative-100);
  --remove-border: var(--palette-negative-300);
  --remove-text: var(--palette-negative-700);
  --remove-hover-text: var(--palette-negative-800);
  --remove-hover-border: var(--palette-negative-600);

  --locked-bg: var(--palette-gray-200);
  --drag-bg: var(--palette-primary-200);

  --tertiary-bg: var(--palette-gray-100);
  --tertiary-text: var(--palette-gray-600);
  --tertiary-border: var(--palette-gray-300);
  --tertiary-hover-bg: var(--palette-gray-200);
  --tertiary-hover-text: var(--palette-gray-700);
  --tertiary-hover-border: var(--palette-gray-400);

  --base-button-hover-bg: rgb(212, 212, 216, 0.3);
  --base-button-active-bg: rgb(219, 234, 254, 1);

  --menu-button-bg: var(--palette-single-white);
  --menu-button-text: var(--palette-gray-700);
  --menu-button-hover-bg: var(--palette-gray-200);
  --menu-button-hover-text: var(--palette-gray-700);

  --menu-primary-button-bg: var(--palette-primary-100);
  --menu-primary-button-text: var(--palette-primary-800);
  --menu-primary-button-hover-bg: var(--palette-primary-200);
  --menu-primary-button-hover-text: var(--palette-primary-950);

  --action-button-bg: var(--palette-gray-50);
  --action-button-text: var(--palette-gray-500);
  --action-button-hover-text: var(--palette-gray-700);
  --action-button-hover-border: var(--palette-gray-400);
  --action-button-active-bg: var(--palette-primary-700);
  --action-button-active-text: var(--palette-primary-50);
  --action-button-active-hover-bg: var(--palette-primary-500);
  --action-button-negative-bg: var(--palette-negative-700);
  --action-button-negative-text: var(--palette-negative-50);
  --action-button-negative-hover-bg: var(--palette-negative-500);

  --modal-bg: var(--palette-single-black-transparent);

  --space-0: 0px;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 40px;
  --space-10: 52px;
  --space-11: 64px;
  --space-12: 80px;
  --space-13: 100px;
  --space-14: 120px;
  --space-15: 160px;
  --space-16: 200px;
  --space-17: 240px;
  --space-18: 280px;
  --space-19: 320px;
  --space-20: 360px;

  --shadow-button: rgba(0, 0, 0, 0.25) 0px 0px 1px 0px;
  --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  --shadow-md: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-lg: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-inset: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

  --font-weight-light: 400;
  --font-weight-default: 500;
  --font-weight-sm-bold: 600;
  --font-weight-bold: 700;

  --rounded-md: 4px;
  --rounded-lg: 8px;
  --rounded-full: 50%;

  --transition-base: transform 100ms ease-in-out;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(#ffffff);
  }

  /* Track de la scrollbar */
  ::-webkit-scrollbar-track {
    background: var(#ffffff);
  }

  /* Thumb de la scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: var(--palette-gray-500);
    border-radius: 6px;
  }

  /* Thumb hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--palette-gray-500);
  }
}

html,
body,
#root {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  background-color: var(--base-bg);
  color: var(--base-text);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: var(--space-0);
  margin: var(--space-0);
  font-size: 14px;
  line-height: 16px;
}

main {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 52px;
  line-height: 56px;
  margin: 0px;
  font-weight: var(--font-weight-bold);
  user-select: none;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  margin: 0px;
  font-weight: var(--font-weight-bold);
  user-select: none;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  margin: 0px;
  font-weight: var(--font-weight-bold);
  user-select: none;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  font-weight: var(--font-weight-sm-bold);
  user-select: none;
}

h5 {
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  font-weight: var(--font-weight-sm-bold);
  user-select: none;
}

h6 {
  font-size: 16px;
  line-height: 18px;
  margin: 0px;
  font-weight: var(--font-weight-sm-bold);
  user-select: none;
}

small {
  font-size: 12px;
  line-height: 16px;
  user-select: none;
}

strong {
  font-size: 14px;
  line-height: 16px;
  user-select: none;
  font-weight: var(--font-weight-bold);
}

label {
  color: var(--base-text-light);
  font-weight: var(--font-weight-bold);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.underline {
  text-decoration: underline;
  text-underline-offset: var(--space-2);
}

button {
  font-size: 14px;
  line-height: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: var(--space-2);
  gap: var(--space-2);
  font-weight: 600;
  width: fit-content;
}

p {
  font-size: 16px;
  line-height: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Gap classes */
.gap-0 {
  gap: var(--space-0);
}
.gap-1 {
  gap: var(--space-1);
}
.gap-2 {
  gap: var(--space-2);
}
.gap-3 {
  gap: var(--space-3);
}
.gap-4 {
  gap: var(--space-4);
}
.gap-5 {
  gap: var(--space-5);
}
.gap-6 {
  gap: var(--space-6);
}
.gap-7 {
  gap: var(--space-7);
}
.gap-8 {
  gap: var(--space-8);
}
.gap-9 {
  gap: var(--space-9);
}
.gap-10 {
  gap: var(--space-10);
}

/* Padding classes */
.p-0 {
  padding: var(--space-0);
}
.p-1 {
  padding: var(--space-1);
}
.p-2 {
  padding: var(--space-2);
}
.p-3 {
  padding: var(--space-3);
}
.p-4 {
  padding: var(--space-4);
}
.p-5 {
  padding: var(--space-5);
}
.p-6 {
  padding: var(--space-6);
}
.p-7 {
  padding: var(--space-7);
}
.p-8 {
  padding: var(--space-8);
}
.p-9 {
  padding: var(--space-9);
}
.p-10 {
  padding: var(--space-10);
}

/* Margin classes */
.m-0 {
  margin: var(--space-0);
}
.m-1 {
  margin: var(--space-1);
}
.m-2 {
  margin: var(--space-2);
}
.m-3 {
  margin: var(--space-3);
}
.m-4 {
  margin: var(--space-4);
}
.m-5 {
  margin: var(--space-5);
}
.m-6 {
  margin: var(--space-6);
}
.m-7 {
  margin: var(--space-7);
}
.m-8 {
  margin: var(--space-8);
}
.m-9 {
  margin: var(--space-9);
}
.m-10 {
  margin: var(--space-10);
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.max-w-full {
  max-width: 100%;
}

.w-fit {
  width: fit-content;
}

.h-full {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.shadow-inset {
  box-shadow: var(--shadow-inset);
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-end {
  align-items: end;
}

.text-color-light {
  color: var(--base-text-light);
}

.text-color-dark {
  color: var(--base-text-dark);
}

.h-100 {
  height: 100%;
}

.menu-button {
  background-color: var(--menu-button-bg);
  color: var(--menu-button-text);
  cursor: pointer;
  padding: var(--space-2);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  font-weight: var(--font-weight-default);
}

.menu-button:hover {
  background-color: var(--menu-button-hover-bg);
  color: var(--menu-button-hover-text);
}

.menu-primary-button {
  background-color: var(--menu-primary-button-bg);
  color: var(--menu-primary-button-text);
  cursor: pointer;
  padding: var(--space-2);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  font-weight: var(--font-weight-default);
}

.menu-primary-button:hover {
  background-color: var(--menu-primary-button-hover-bg);
  color: var(--menu-primary-button-hover-text);
}

.action-button {
  background-color: var(--action-button-bg);
  color: var(--action-button-text);
  padding: var(--space-2);
  border-radius: var(--rounded-md);
  height: fit-content;
}

.action-button:hover {
  color: var(--action-button-hover-text);
  box-shadow: var(--shadow-button);
}

.action-ghost-button {
  background-color: transparent;
  color: var(--action-button-text);
  padding: var(--space-2);
  border-radius: var(--rounded-md);
  height: fit-content;
}

.action-ghost-button:hover {
  background-color: var(--base-button-hover-bg);
  box-shadow: transparent;
  color: var(--action-button-hover-text);
}

.action-ghost-button:disabled {
  color: var(--base-bg-disabled);
  background-color: transparent;
  cursor: default;
}

.action-button:disabled {
  color: var(--base-bg-disabled);
  box-shadow: var(--base-bg-text);
  cursor: default;
}

.action-button.active {
  background-color: var(--action-button-active-bg);
  color: var(--action-button-active-text);
  box-shadow: var(--shadow-button);
}

.action-button.active:hover {
  background-color: var(--action-button-active-hover-bg);
}

.action-button.negative {
  background-color: var(--action-button-negative-bg);
  color: var(--action-button-negative-text);
  box-shadow: var(--shadow-button);
}

.action-button.negative:hover {
  background-color: var(--action-button-negative-hover-bg);
}

.add-button {
  display: flex;
  align-items: center;
  padding: var(--space-2);
  background-color: transparent;
  border: dashed 2px var(--add-border);
  color: var(--add-text);
  border-radius: var(--rounded-md);
  font-weight: var(--font-weight-default);
}

.add-button:disabled {
  background-color: transparent;
  border: dashed 2px var(--base-bg-disabled);
  color: var(--base-text-disabled);
  cursor: not-allowed;
}

.add-button:disabled:hover {
  background-color: transparent;
  border: dashed 2px var(--base-bg-disabled);
  color: var(--base-text-disabled);
}

.add-button:hover {
  border: dashed 2px var(--add-hover-border);
  color: var(--add-hover-text);
}

.remove-button {
  display: flex;
  align-items: center;
  padding: var(--space-2);
  background-color: transparent;
  border: dashed 2px var(--remove-border);
  color: var(--remove-text);
  border-radius: var(--rounded-md);
  font-weight: var(--font-weight-default);
}

.remove-button:hover {
  border: dashed 2px var(--remove-hover-border);
  color: var(--remove-hover-text);
}

.inherit-input {
  padding: var(--space-1) var(--space-0);
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  border: none;
  width: 100%;
  color: inherit;
  outline: none;
  cursor: inherit;
  background-color: inherit;
  background: inherit;
  border-bottom: transparent 1px solid;
  box-sizing: border-box;
  overflow: visible;
  height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  padding: var(--space-2) var(--space-0);
  margin: 0;
  border: none;
  box-sizing: border-box;
  background-color: var(--component-bg);
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
}

.inherit-input-placeholder {
  padding: var(--space-1) var(--space-0);
  margin: 0;
  border-bottom: transparent 1px solid;
  user-select: none;
}

.inherit-input-size {
  height: 32px;
  padding-left: 4px;
  box-sizing: border-box;
}

.inherit-input:hover {
  border-bottom: var(--base-border) 1px solid;
}

.empty-border:hover {
  border-bottom: var(--base-border) 1px transparent;
}

.inherit-input:read-only {
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: transparent 1px solid;
  user-select: none;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: transparent 1px solid;
  box-sizing: border-box;
  overflow: hidden;
}

input {
  accent-color: var(--palette-primary-500);
}

select {
  padding: 0px;
  margin: 0px;
  height: 32px;
}

select:disabled {
  appearance: none;
  padding: 0px;
  padding-left: 4px;
  margin: 0px;
}

.text-align-right {
  text-align: right;
}

.error {
  color: var(--alert-outline-text);
}

.copyable-label {
  background-color: var(--tertiary-bg);
  color: var(--tertiary-text);
  padding: var(--space-2) var(--space-3);
  cursor: pointer;
  display: flex;
  gap: var(--space-2);
  align-items: center;
  width: fit-content;
  border-radius: var(--rounded-md);
  font-family: "Consolas";
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  max-width: 200px;
}

.copyable-label:hover {
  background-color: var(--tertiary-hover-bg);
  color: var(--tertiary-hover-text);
}

.popover-body {
  display: flex;
  flex-direction: column;
  padding: var(--space-3);
  gap: var(--space-3);
  justify-content: end;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  color: var(--base-text-light);
}

.rotate-chevron,
.rotate-key {
  transform: rotate(90deg);
}

.rotate-chevron-left {
  transform: rotate(-90deg);
}

.container-start {
  flex: 1;
  justify-content: start;
  align-items: center;
}

.container-center {
  flex: 1;
  justify-self: center;
  align-items: center;
}

.container-end {
  flex: 1;
  justify-content: end;
  align-items: center;
}

.add:hover {
  border-bottom: var(--add-border) 2px solid;
  border-radius: 0px;
  cursor: pointer;
}

.locked:hover {
  background-color: var(--locked-bg);
}

.add-right:hover {
  border-right: var(--add-border) 2px solid;
  border-radius: 0px;
  cursor: pointer;
}

.remove {
  background-color: var(--remove-bg);
  cursor: pointer;
}

.remove-hover:hover {
  background-color: var(--remove-bg);
  cursor: pointer;
}

.draggable {
  background-color: var(--drag-bg);
  cursor: pointer;
}

.drag-hover-top:hover {
  border-top: var(--add-border) 2px solid;
  border-radius: 0px;
  cursor: pointer;
}

.drag-hover-left:hover {
  border-left: var(--add-border) 2px solid;
  border-radius: 0px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.remove-text-color {
  color: var(--remove-text);
}

.cursor-move {
  cursor: move;
}

.cursor-drag:active {
  cursor: n-resize;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.picker {
  width: 100px;
  height: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.border-box {
  box-sizing: border-box;
}

.table-builder {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  table-layout:fixed;
}

.table-builder thead {
  position: sticky;
  top: -1px;
  left: 0;
  background: linear-gradient(to left, #eff6ff, 30%, rgba(239, 246, 255, 0.5));
}

.table-builder-row-placeholder {
  height: 60px;
  min-height: 60px;
  max-height: 60px;
}

.table-builder tr,
td {
  text-align: left;
}

.table-builder tr {
  border-radius: var(--rounded-md);
  overflow: hidden;
}

.table-builder tbody tr td {
  background-color: var(--component-bg);
  box-shadow: var(--shadow-md);
  cursor: pointer;
}

.table-builder tr td:first-child[data-drag-hover="false"] {
  border-top-left-radius: var(--rounded-md);
  border-bottom-left-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
}

.table-builder tr td:last-child[data-drag-hover="false"] {
  border-top-right-radius: var(--rounded-md);
  border-bottom-right-radius: var(--rounded-md);
}

.table-builder tr td:first-child[data-drag-hover="true"] {
  border-bottom-left-radius: var(--rounded-md);
}

.table-builder tr td:last-child[data-drag-hover="true"] {
  border-bottom-right-radius: var(--rounded-md);
}

.table-builder tr td {
  margin: var(--space-2) var(--space-0);
}

.sunny-text {
  color: var(--sunny-text);
}

.moon-text {
  color: var(--moon-text);
}

.contrast-on {
  color: var(--contrast-on-text);
}

.contrast-off {
  color: var(--contrast-off-text);
}

.table-builder {
  display: table;
}

.table-builder td[data-drag-hover="true"] {
  border-top: var(--add-hover-border) 2px solid;
}

.table-builder tr[data-disable="true"] {
  background-color: var(--base-bg-disabled);
}

.table-builder td[data-disable="true"] {
  background-color: var(--base-bg-disabled);
}

.flag {
  background-color: var(--palette-primary-200);
  color: var(--palette-primary-800);
  border-radius: var(--rounded-lg);
  padding: var(--space-1) var(--space-2);
  width: fit-content;
  font-size: 12px;
}

.padding-right-button {
  padding-right: var(--space-4);
}

.wrap {
  flex-wrap: wrap;
}

.select-none {
  user-select: none;
}

.color-picker {
  width: 280px;
  user-select: none;
}

.text-no-wrap {
  white-space: nowrap;
}

.modal-enter {
  transform: translateX(100%);
}
.modal-enter-active {
  transform: translateX(0%);
  transition: transform 200ms;
}
.modal-exit {
  transform: translateX(0%);
}
.modal-exit-active {
  transform: translateX(100%);
  transition: transform 200ms;
}

.palette-color {
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  border: var(--base-border) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-base);
  overflow: hidden;
}

.table-transparent td{
  background-color: transparent !important;
  box-shadow: none !important;
}

.rounded-md {
  border-radius: var(--rounded-md);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}