.modalPaletteBuilder {
  width: 90vw;
  max-width: 90vw;
  height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: var(--base-bg);
}

.header {
  display: flex;
  padding: var(--space-3) var(--space-6);
  gap: var(--space-2);
  border-bottom: var(--base-border) 1px solid;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.builderBodyContainer {
  padding: var(--space-5) var(--space-6);
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  position: relative;
  height: 100%;
}

.tablePaletteBuilder {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
}

.tableHeader {
  height: 40px;
}

.paletteRow {
  height: 60px;
  padding: var(--space-2);
  overflow: hidden;
}

.columnPalette {
  position: sticky;
  left: 0;
  z-index: 2;
  min-width: 140px;
  max-width: 140px;
  width: 140px;
  padding: var(--space-3);
  text-align: left;
  box-sizing: border-box;
}

.columnPaletteHeader {
  position: sticky;
  left: 0;
  z-index: 2;
  min-width: 140px;
  max-width: 140px;
  width: 140px;
  padding: var(--space-3);
  text-align: left;
  box-sizing: border-box;
  background-color: var(--base-bg);
}

.columnTint {
  font-weight: var(--font-weight-default);
  min-width: 30px;
  padding: var(--space-3);
}

.sidePanel {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  padding: var(--space-0) var(--space-0) var(--space-8) var(--space-0);
  overflow-y: auto;
  position: relative;
}

.sidePanelHeader {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  position: sticky;
  top: -1px;
  z-index: 100;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.6),
    30%,
    #FFFFFF
  );
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #fff;
  z-index: 2;
  padding: var(--space-4) var(--space-4);
}

.sidePanelBodyContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  padding: var(--space-0) var(--space-4);
}

.sidePanelContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.separator {
  display: flex;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  background-color: var(--base-border);
  box-sizing: border-box;
}

.recommandedHueButton {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  padding: var(--space-3);
  box-sizing: border-box;
  color: var(--base-text-light);
  border-radius: var(--rounded-md);
  cursor: pointer;
}

.recommandedHueButton:hover {
  background-color: var(--component-hover-bg);
  color: var(--component-hover-text);
}


.rightSidepanelSpace {
  padding-right: 500px;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  align-items: center;
}

.percentContainer {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}